{% extends 'parent.html.twig' %}

{% block monheader %}
        <header>
            <nav>
                <a href="{{ path('first') }}">first</a>
                <a href="{{ path('accueil') }}">accueil</a>
                <a href="{{ path('galerie') }}">galerie</a>
            </nav>
        </header>
    {% endblock %}

{% block body %}
           <section>
                <h3>formulaire de création d'article</h3>
                <form method="POST" enctype="multipart/form-data">
                    <label>
                        <div>titre</div>
                        <input name="title" type="text" required placeholder="entrez le titre">
                    </label>
                    <label>
                        <div>slug</div>
                        <input name="slug" type="text" required placeholder="entrez le slug">
                    </label>
                    <label>
                        <div>picture</div>
                        <input name="picture" type="file" required placeholder="entrez le chemin pour picture">
                    </label>
                    <label>
                        <div>categorie</div>
                        <input name="category" type="text" required placeholder="entrez la catégorie">
                    </label>
                    <label>
                        <div>priorité</div>
                        <input name="priority" type="text" required placeholder="entrez la priorité">
                    </label>
                    <label>
                        <div>contenu</div>
                        <textarea name="content" rows="6" cols="80" required placeholder="entrez le contenu"></textarea>
                    </label>
                    <div>
                        <button type="submit">PUBLIER L'ARTICLE</button>
                    </div>
                </form>   
            </section>
{% endblock %}

{% block titre1 %}
            <h1>Contact</h1>
            {% endblock %}